.react-datepicker {
    font-size: 1em;
}
.react-datepicker__header {
    padding-top: 0.8em;
}
.react-datepicker__month {
    margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
}
.react-datepicker__current-month {
    font-size: 1em;
}
.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
    left: 1em;
}
.react-datepicker__navigation--next {
    right: 1em;
}

.react-datepicker .react-datepicker__day.react-datepicker__day--keyboard-selected,
.react-datepicker .react-datepicker__day.react-datepicker__day--selected{
    background-color: #0044cc;
    color: aliceblue;
}

.react-datepicker .react-datepicker__header {
    background-color: #0044cc;
    color: aliceblue;
    font-weight: 600;
}

.react-datepicker .react-datepicker__day-name {
    color: aliceblue;
}

.react-datepicker .react-datepicker__current-month,
.react-datepicker .react-datepicker__current-year {
    color: aliceblue;
}

.react-datepicker .react-datepicker__month-dropdown,
.react-datepicker .react-datepicker__year-dropdown {
    background-color: #0044cc;
    border: 1px Solid aliceblue;
    font-weight: 600;
}

.react-datepicker .react-datepicker__month-option:hover,
.react-datepicker .react-datepicker__year-option:hover{
    background-color: #003097;
}